<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home Page</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    <header>
        <h1>Adventures In Code</h1>
        <h2>Explorations in Programming</h2>
        <p>by Simon Katan</p>
    </header>
    <h2 class="page-title">Main Home Page</h2>
    <nav>
        <ul>
            <li><a href="author-home.html">Author Home Page</a></li>
            <li><a href="reader-home.html">Reader Home Page</a></li>
        </ul>
    </nav>
</body>
</html>
