/* Skip navigation bar for better accessibility */
.skip-navigation {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Navigation Bar */
nav {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  display: block;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: #e74c3c;
  color: white;
}

.active {
  background-color: #e74c3c;
}

/* Content Section */
section {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.latest-news {
  margin-top: 10px;
}

.latest-reviews {
  margin-top: 10px;
  margin-bottom: 30px;
}

.gallery {
  margin-bottom: 30px;
}

.news {
  margin-bottom: 30px;
}

.reviews {
  margin-bottom: 30px;
}

.ask-anything {
  margin-bottom: 30px;
}

.story-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #222;
}

.home-page-content {
  flex-basis: 500px;
}

article {
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px #888888;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease-in-out;
}

article:hover {
  box-shadow: 0px 0px 20px #888888;
  transform: translateY(-5px);
}

article a {
  text-decoration: none;
  color: #000000;
}

article p {
  color: #000000;
}

/* Text styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

/* Colors */
body {
  background-color: #f2f2f2;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

article {
  background-color: white;
}

/* Image Carousal in Gallery Page */

.gallery {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 300%;
}

.carousel-slide img {
  width: 33.33%;
  object-fit: cover;
}

.gallery_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.gallery_button button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.gallery_button button:hover {
  background-color: #555;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
}

/* Style for fieldsets */
fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  flex-basis: calc(33.33% - 20px);
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for form inputs */
form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
}

/* Style for fieldsets */
fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for form inputs */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 1rem;
  min-width: 1000px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

/* Style for submit button */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: #005a80;
}

/* Footer */
footer {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 0px 0;
  text-align: center;
  font-size: 16px;
}

footer h3 {
  color: #e74c3c;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-column {
  width: 50%;
  padding: 0 20px;
}

.footer-column h3 {
  margin-bottom: 20px;
}

.footer-column p {
  margin: 0;
  margin-bottom: 10px;
}

.bottom-bar {
  background-color: #111111;
  padding: 10px;
  text-align: center;
}

.bottom-bar p {
  margin: 0;
  font-size: 14px;
}

/* Dark Mode Styles */

/* w3schools.com, 'CSS Buttons', [Online], Available: https://www.w3schools.com/css/css3_buttons.asp, [Accessed: 10 - March - 2023]. */
#dark-mode-toggle {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#dark-mode-toggle:hover {
  background-color: #fff;
  color: #000000;
}

.dark-mode {
  background-color: #2a2a2a;
  color: #f2f2f2;
}

.dark-mode nav {
  background-color: #111;
}

.dark-mode nav a {
  color: #f2f2f2;
}

.dark-mode nav a:hover {
  color: #f2f2f2;
}

.dark-mode section {
  background-color: #2a2a2a;
}

.dark-mode article {
  background-color: #151515;
  color: #f2f2f2;
}

.dark-mode article a {
  color: #f2f2f2;
}

.dark-mode h2 {
  color: #f2f2f2;
}

.dark-mode p {
  color: #f2f2f2;
}

.dark-mode footer {
  background-color: #111;
  color: #f2f2f2;
}

.dark-mode .footer-column h3 {
  color: #e74c3c;
}

.dark-mode .bottom-bar p {
  color: #f2f2f2;
}
